<button
  class="btn btn-dark"
  (click)="goToBackComponent()"
  style="position: absolute; z-index: 5;"
>
  Volver
</button>

<div class="container">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <form
      class="form-signin"
      [formGroup]="crearForm"
      (ngSubmit)="submitcrearForm(crearForm.value)"
    >
      <br />
      <div class="row">
        <div class="col-lg-12">
          <h3>Agregar historial investigador</h3>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group text-left">
            <label for="idMiembro">Miembro del grupo</label>
            <select class="form-control" formControlName="idMiembro">
              <option selected disabled>Seleccione un investigador...</option>
              <option
                [value]="investigador.id"
                *ngFor="let investigador of investigadores"
              >
                {{ investigador.nombre }} {{ investigador.primerapellido }} -
                {{ investigador.correoelectronico }}</option
              >
            </select>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group text-left">
            <label for="actividad">Actividad</label>
            <input
              type="text"
              placeholder=""
              class="form-control"
              formControlName="actividad"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group text-left">
            <label for="fechaInicio">Fecha inicio</label>
            <input
              type="text"
              placeholder="MM/DD/YYYY"
              class="form-control"
              formControlName="fechaInicio"
              [bsConfig]="{ containerClass: 'theme-dark-blue', locale: 'es' }"
              bsDatepicker
            />
          </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group text-left">
                <label for="fechaFin">Fecha fin</label>
                <input
                  type="text"
                  placeholder="MM/DD/YYYY"
                  class="form-control"
                  formControlName="fechaFin"
                  [bsConfig]="{ containerClass: 'theme-dark-blue', locale: 'es' }"
                  bsDatepicker
                />
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group text-left">
            <label for="actividad">Horas dedicadas</label>
            <input
              type="number"
              placeholder=""
              class="form-control"
              formControlName="horasDedicadas"
            />
          </div>
        </div>
        <div class="col-lg-6">

        </div>
      </div>


      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <input
              type="submit"
              value="Enviar"
              class="btn btn-primary"
              [disabled]="!crearForm.valid"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-lg-1"></div>
</div>
