<button class="btn btn-dark" (click)="goToBackComponent()" style="position: absolute;z-index: 5;">Volver</button>

<div class="container">
  <button class="btn btn-danger" (click)="ver()">Guardar cambios</button>
  <br />
  <div
    class="row"
    style="max-height: 600px !important; overflow: auto; margin-top: 2%;"
  >
    <div class="col-lg-2">
      <div class="row">
        <div class="col-lg-12">
          <strong>Investigadores</strong>
          <ul
            class="mt-2 list-group sortable"
            [sortablejs]="investigadores"
            [sortablejsOptions]="list1Options"
          >
            <li
              class="list-group-item"
              *ngFor="let investigador of investigadores"
            >
              {{ investigador.nombre }} {{ investigador.primerapellido }}
            </li>
          </ul>

          <!--<div class="alert alert-dark">{{ investigadores | json }}</div>-->
        </div>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="row">
        <div
          class="col-lg-3"
          *ngFor="let grupo of grupos; index as i"
          style="margin-bottom: 20px;"
        >
          <strong>Grupo {{ grupo.nombre }}</strong>
          <ul
            class="mt-2 list-group sortable"
            [sortablejs]="grupo.lista"
            [sortablejsOptions]="list1Options"
          >
            <li class="list-group-item" *ngFor="let lista of grupo.lista">
              {{ lista.nombre }} {{ lista.primerapellido }}
            </li>
          </ul>
          <!--
          <br>
          <div class="form-group text-left">
            <label for="correoElectronico">Investigador lider</label>
            <select id="selectGrupo{{grupo.nombre}}" class="form-control">
              <option value="{{lista.nombre}}-{{grupo.nombre}}" *ngFor="let lista of grupo.lista" >
                {{ lista.nombre }} {{lista.primerapellido}}
              </option>
            </select>
          </div>
        -->
          <!--<div class="alert alert-dark">{{ grupo.lista | json }}</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
