<div class="rowRegistro">
    <div class="row">
        <div class="col-lg-6 col-img">
            <img class="mb-4" src="assets/imagenes/fondo inicio sesion 2.png" alt="">
        </div>
        <div class="col-lg-6">
            <div class="text-center container-login">
                <form class="form-signin" [formGroup]="userForm" (ngSubmit)="submitFormuser(userForm.value)">
                    <img class="mb-4" src="assets/imagenes/logo.png" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Registrarse</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group text-left">
                                <label for="correoElectronico">Identificación</label>
                                <input type="number" placeholder="" class="form-control"
                                    formControlName="numeroidentificacion">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group text-left">
                                <label for="password">Género</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" formControlName="genero"
                                                id="exampleRadios1" value="Masculino" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                Masculino
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" formControlName="genero"
                                                id="exampleRadios2" value="Femenino">
                                            <label class="form-check-label" for="exampleRadios2">
                                                Femenino
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group text-left">
                                <label for="nombres">Nombres</label>
                                <input type="text" placeholder="" class="form-control" formControlName="nombre">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group text-left">
                                <label for="apellidos">Primer apellido</label>
                                <input type="text" placeholder="" class="form-control" formControlName="primerapellido">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group text-left">
                                <label for="apellidos">Segundo Apellido</label>
                                <input type="text" placeholder="" class="form-control" formControlName="segundoapellido">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group text-left">
                                <label for="fechaNacimiento">Fecha de nacimiento</label>
                                <input type="text" placeholder="MM/DD/YYYY" class="form-control"
                                    formControlName="fechanacimiento"
                                    [bsConfig]="{ containerClass: 'theme-dark-blue', locale: 'es' }" bsDatepicker>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group text-left">
                                <label for="direccion">Dirección</label>
                                <input type="text" placeholder="Carrera 1 #2-3, Barrio A" class="form-control"
                                    formControlName="direccion">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group text-left">
                                <label for="telefono">Teléfono</label>
                                <input type="text" placeholder="310 0000000" class="form-control"
                                    formControlName="telefono">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group text-left">
                                <label for="correoElectronico">Correo Electrónico</label>
                                <input type="text" placeholder="a@a.com" class="form-control"
                                    formControlName="correoElectronico">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group text-left">
                                <label for="password">Contraseña</label>
                                <input type="password" placeholder="" class="form-control" formControlName="password">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Enviar" class="btn btn-primary" [disabled]="!userForm.valid">
                    </div>
                    <div class="checkbox mb-3">
                        <span (click)="goToComponent('inicio-sesion')"><a>Inicio sesión</a></span>
                    </div>
                    <p class="mt-5 mb-3 text-muted">© Universidad Central - 2020</p>
                </form>
            </div>
        </div>
    </div>
</div>