.form-signin {
    width: 100%;
    max-width: 632px;
    padding: 15px;
    margin: 0 auto;
}

a {
    cursor: pointer;
}

a:hover {
    color: #E74C3C;
}

.btn {
    width: 100%;
}

.container-login {
    margin-top: 0%;
}

.col-img img {
    width: auto;
    height: 100vh;
}

.rowRegistro {
    height: 100vh;
}

.col-img {
  background: #082B59;
}