<button
  class="btn btn-dark"
  (click)="goToBackComponent()"
  style="position: absolute; z-index: 5;"
>
  Volver
</button>

<div class="container">
  <div class="row">
    <div class="form-group text-left">
      <label for="correoElectronico">Tipo de producción</label>
      <select
        class="form-control"
        (change)="cambioFormulario($event.target.value)"
      >
        <option disabled>Seleccione una opción...</option>
        <option selected value="programaAcademico">Programa académico</option>
        <option value="diplomado">Diplomado</option>
        <option value="curso">Curso Programa académico</option>
      </select>
    </div>
  </div>

  <!-- FORMULARIO PROGRAMA ACADEMICO -->
  <div class="row" *ngIf="this.seleccionMultiple.programaAcademico">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <form
        class="form-signin"
        [formGroup]="programaForm"
        (ngSubmit)="submitProgramaForm(programaForm.value)"
      >
        <br />
        <div class="row">
          <div class="col-lg-12">
            <h3>Crear programa académico</h3>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="idGrupoInvestigacion">Grupos de investigación</label>
              <select class="form-control" formControlName="idGrupoInvestigacion">
                <option selected disabled [value]="">Seleccione un grupo...</option>
                <option
                  [value]="grupo.idGrupoInvestigacion"
                  *ngFor="let grupo of gruposRegistrados"> ID Grupo: {{grupo.idGrupoInvestigacion}}, Area de conocimiento: {{grupo.areaConocimiento.nombre}}</option
                >
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="denominacion">Denominación</label>
              <input
                type="text"
                placeholder=""
                class="form-control"
                formControlName="denominacion"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="registroCalificado">Registro calificado</label>
              <input
                type="number"
                placeholder="Minimo 5 digitos"
                class="form-control"
                formControlName="registroCalificado"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="registroAcreditacion">Registro acreditado</label>
              <input
                type="number"
                placeholder="Minimo 5 digitos"
                class="form-control"
                formControlName="registroAcreditacion"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="fechaPrimerCorte">Fecha primer corte</label>
              <input type="text" placeholder="MM/DD/YYYY" class="form-control"
                formControlName="fechaPrimerCorte"
                [bsConfig]="{ containerClass: 'theme-dark-blue', locale: 'es' }" bsDatepicker>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="idTipoPrograma">Tipo de programa</label>
              <select class="form-control" formControlName="idTipoPrograma">
                <option selected disabled [value]="">Seleccione un grupo...</option>
                <option
                  [value]="programa.idTipoPrograma"
                  *ngFor="let programa of tipoPrograma">{{ programa.tipoProgramaNombre }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="registrocalificado">Nombre</label>
              <input
                type="text"
                placeholder=""
                class="form-control"
                formControlName="nombre"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="idInstitucion">Institucion</label>
              <select class="form-control" formControlName="idInstitucion">
                <option selected disabled [value]="">Seleccione una institucion...</option>
                <option
                  [value]="institucion.idInstitucion"
                  *ngFor="let institucion of instituciones">{{ institucion.nombre }}</option>
              </select>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <input
                type="submit"
                value="Enviar"
                class="btn btn-primary"
                [disabled]="!programaForm.valid"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-1"></div>
  </div>

  <!-- DIPLOMADO -->
  <div class="row" *ngIf="this.seleccionMultiple.diplomado">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <form
        class="form-signin"
        [formGroup]="diplomadoForm"
        (ngSubmit)="submitDiplomadoForm(diplomadoForm.value)"
      >
        <br />
        <div class="row">
          <div class="col-lg-12">
            <h3>Crear diplomado</h3>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="idGrupoInvestigacion">Grupos de investigación</label>
              <select class="form-control" formControlName="idGrupoInvestigacion">
                <option selected disabled [value]="">Seleccione un grupo...</option>
                <option
                  [value]="grupo.idGrupoInvestigacion"
                  *ngFor="let grupo of gruposRegistrados"> ID Grupo: {{grupo.idGrupoInvestigacion}}, Area de conocimiento: {{grupo.areaConocimiento.nombre}}</option
                >
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="idAreaConocimiento">Area de conocimiento</label>
              <select class="form-control" formControlName="idAreaConocimiento">
                <option selected disabled [value]="">Seleccione un area de conocimiento...</option>
                <option
                  [value]="area.idAreaConocimiento"
                  *ngFor="let area of areaConocimiento"> Cod: {{area.codigo}}, Area: {{area.nombre}}</option
                >
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="descripcion">Descripcion</label>
              <input
                type="text"
                placeholder=""
                class="form-control"
                formControlName="descripcion"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="fechaPrimerCorte">Fecha primer corte</label>
              <input type="text" placeholder="MM/DD/YYYY" class="form-control"
                formControlName="fechaPrimerCorte"
                [bsConfig]="{ containerClass: 'theme-dark-blue', locale: 'es' }" bsDatepicker>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="idInstitucion">Institucion</label>
              <select class="form-control" formControlName="idInstitucion">
                <option selected disabled [value]="">Seleccione una institucion...</option>
                <option
                  [value]="institucion.idInstitucion"
                  *ngFor="let institucion of instituciones">{{ institucion.nombre }}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="nombre">Nombre</label>
              <input
                type="text"
                placeholder=""
                class="form-control"
                formControlName="nombre"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="denominacion">Denominacion</label>
              <input
                type="text"
                placeholder=""
                class="form-control"
                formControlName="denominacion"
              />
            </div>
          </div>
          <div class="col-lg-6">

          </div>
        </div>



        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <input
                type="submit"
                value="Enviar"
                class="btn btn-primary"
                [disabled]="!diplomadoForm.valid"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-1"></div>
  </div>


  <!-- CURSO PROGRAMA ACADEMICO -->
  <div class="row" *ngIf="this.seleccionMultiple.curso">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <form
        class="form-signin"
        [formGroup]="cursoForm"
        (ngSubmit)="submitCursoForm(cursoForm.value)"
      >
        <br />
        <div class="row">
          <div class="col-lg-12">
            <h3>Crear curso programa academico</h3>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="idProgramaAcademico">Programa academico</label>
              <select class="form-control" formControlName="idProgramaAcademico">
                <option selected disabled [value]="">Seleccione un programa...</option>
                <option
                  [value]="programa.idProgramaAcademico"
                  *ngFor="let programa of programasAcademicos">{{ programa.nombre }}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="idAreaConocimiento">Area de conocimiento</label>
              <select class="form-control" formControlName="idAreaConocimiento">
                <option selected disabled [value]="">Seleccione un area de conocimiento...</option>
                <option
                  [value]="area.idAreaConocimiento"
                  *ngFor="let area of areaConocimiento"> Cod: {{area.codigo}}, Area: {{area.nombre}}</option
                >
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="nombre">Nombre</label>
              <input
                type="text"
                placeholder=""
                class="form-control"
                formControlName="nombre"
              />
            </div>
          </div>
          <div class="col-lg-6">
              <div class="form-group text-left">
                <label for="denominacion">Denominacion</label>
                <input
                  type="text"
                  placeholder=""
                  class="form-control"
                  formControlName="denominacion"
                />
              </div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <input
                type="submit"
                value="Enviar"
                class="btn btn-primary"
                [disabled]="!cursoForm.valid"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
