<button class="btn btn-dark" (click)="goToBackComponent()" style="position: absolute;z-index: 5;">Volver</button>

<div class="container">

  <div class="row">
    <div class="form-group text-left">
      <label for="correoElectronico">Tipo de producción</label>
      <select
        class="form-control"
        (change)="cambioFormulario($event.target.value)"
      >
        <option disabled>Seleccione una opción...</option>
        <option selected value="programaAcademico">Programa académico</option>
        <option value="diplomado">Diplomado</option>
        <option value="curso">Curso Programa académico</option>
      </select>
    </div>
  </div>

  <!-- FORMULARIO PROGRAMA ACADEMICO -->
  <div class="row" *ngIf="this.seleccionMultiple.programaAcademico && produccionAcademicaAlmacenada">
    <div class="col-lg-12">

      <table datatable [dtOptions]="dataTableOptions" class="row-border hover">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nombre</th>
            <th>Denominacion</th>
            <th>Area Conocimiento</th>
            <th>Institución</th>
            <th>Programa Academico</th>
            <th>Tipo Programa</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produccion of produccionAcademicaAlmacenada.objetoRespuestaArrayCursoProgramaAcademicoAlmacenado">
            <td>{{ produccion.idCursoProgramaAcademico }}</td>
            <td>{{ produccion.nombre }}</td>
            <td>{{ produccion.denominacion }}</td>
            <td>{{ produccion.areaConocimiento.nombre }}</td>
            <td>{{ produccion.institucion.nombre }}</td>
            <td>{{ produccion.programaAcademico.nombre }}</td>
            <td>{{ produccion.tipoPrograma.tipoProgramaNombre }}</td>
            <td>
              <button
                class="btn btn-warning"
                (click)="openModal(template, produccion.idCursoProgramaAcademico)"
              >
                Editar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>

  <!-- DIPLOMADO -->
  <div class="row" *ngIf="this.seleccionMultiple.diplomado && produccionAcademicaAlmacenada">
    <div class="col-lg-10">
      <table datatable [dtOptions]="dataTableOptions" class="row-border hover">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Area Conocimiento</th>
            <th>Fecha Primer Corte</th>
            <th>Area Conocimiento</th>
            <th>Institución</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produccion of produccionAcademicaAlmacenada.objetoRespuestaArrayDiplomadoAlmacenado">
            <td>{{ produccion.idDiplomado }}</td>
            <td>{{ produccion.nombre }}</td>
            <td>{{ produccion.descripcion }}</td>
            <td>{{ produccion.denominacion }}</td>
            <td>{{ produccion.fechaPrimerCorte }}</td>
            <td>{{ produccion.areaConocimiento.nombre }}</td>
            <td>{{ produccion.institucion.nombre }}</td>
            <td>
              <button
                class="btn btn-warning"
                (click)="openModal(template, produccion.idDiplomado)"
              >
                Editar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- CURSO PROGRAMA ACADEMICO -->
  <div class="row" *ngIf="this.seleccionMultiple.curso && produccionAcademicaAlmacenada">
    <div class="col-lg-10">
      <table datatable [dtOptions]="dataTableOptions" class="row-border hover">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nombre</th>
            <th>Denominacion</th>
            <th>Fecha Primer Corte</th>
            <th>Tipo Programa</th>
            <th>Registro Acreditación</th>
            <th>Registro Calificado</th>
            <th>Institución</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produccion of produccionAcademicaAlmacenada.objetoRespuestaArrayProgramaAcademicoAlmacenado">
            <td>{{ produccion.idProgramaAcademico }}</td>
            <td>{{ produccion.nombre }}</td>
            <td>{{ produccion.denominacion }}</td>
            <td>{{ produccion.fechaPrimerCorte }}</td>
            <td>{{ produccion.tipoPrograma.tipoProgramaNombre }}</td>
            <td>{{ produccion.registroAcreditacion }}</td>
            <td>{{ produccion.registroCalificado }}</td>
            <td>{{ produccion.institucion.nombre }}</td>
            <td>
              <button
                class="btn btn-warning"
                (click)="openModal(template, produccion.idProgramaAcademico)"
              >
                Editar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left" id="my-modal-title">Editar Usuario</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id="my-modal-description">
        Registro a editar: 
        {{ dataModal }}
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-success"
        (click)="actualizarRegistro(dataModal)"
      >
        Aceptar
      </button>
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">
        Cancelar
      </button>
    </div>
  </ng-template>
</div>
