<button class="btn btn-dark" (click)="goToBackComponent()" style="position: absolute;z-index: 5;">Volver</button>

<div class="container">
    <div class="row" style="max-height: 600px !important; overflow: auto; margin-top: 2%;">
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th>Id miembro</th>
            <th>Actividad</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Horas dedicadas</th>
          </tr>
        </thead>
        <tbody *ngIf="dataTable?.length != 0">
          <tr *ngFor="let data of dataTable; index as i">
            <td>{{ data.idMiembro }}</td>
            <td>{{ data.actividad }}</td>
            <td>{{ data.fechaInicio }}</td>
            <td>{{ data.fechaFin }}</td>
            <td>{{ data.horasDedicadas }}</td>
          </tr>
        </tbody>
        <tbody *ngIf="dataTable?.length == 0">
          <tr>
            <td colspan="3" class="no-data-available">No data!</td>
          </tr>
        <tbody>
      </table>
    </div>
  </div>