<button class="btn btn-dark" (click)="goToBackComponent()" style="position: absolute;z-index: 5;">Volver</button>

<div class="container">
  <table datatable [dtOptions]="dataTableOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataTable">
        <td>{{ data.id }}</td>
        <td>{{ data.fistName }}</td>
        <td>{{ data.lastName }}</td>
        <td>
          <button
            class="btn btn-warning"
            (click)="openModal(template, data.id)"
          >
            Editar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left" id="my-modal-title">Editar Usuario</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id="my-modal-description">
        This is a modal.
        {{ dataModal }}
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-success"
        (click)="actualizarRegistro(dataModal)"
      >
        Aceptar
      </button>
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">
        Cancelar
      </button>
    </div>
  </ng-template>
</div>
