<button class="btn btn-dark" (click)="goToBackComponent()" style="position: absolute;z-index: 5;">Volver</button>

<div class="container">
  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataTable">
        <td>{{ data.id }}</td>
        <td>{{ data.fistName }}</td>
        <td>{{ data.lastName }}</td>
      </tr>
    </tbody>
  </table>
</div>
