.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

a {
    cursor: pointer;
}

a:hover {
    color: #E74C3C;
}

.btn {
    width: 100%;
}

.container-login {
    margin-top: 18%;
}

.col-img {
    background: #082B59;
}

.col-img img {
    width: auto;
    height: 100vh;
}

.row {
    height: 100vh;
}

.rowRegistro {
    height: 100vh;
}


