<div class="rowRegistro">
    <div class="row">
        <div class="col-lg-6 col-img">
            <img class="mb-4" src="assets/imagenes/fondo inicio sesion 2.png" alt="">
        </div>
        <div class="col-lg-6">
            <div class="text-center container-login">
                <form class="form-signin" [formGroup]="userForm" (ngSubmit)="submitFormuser(userForm.value)">
                    <img class="mb-4" src="assets/imagenes/logo.png" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
                    <div class="form-group text-left">
                        <label for="correoElectronico">Correo Electrónico</label>
                        <input type="text" placeholder="a@a.com" class="form-control"
                            formControlName="correoElectronico">
                    </div>
                    <div class="form-group text-left">
                        <label for="password">Contraseña</label>
                        <input type="password" placeholder="alfanumerico" class="form-control"
                            formControlName="password">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Enviar" class="btn btn-primary" [disabled]="!userForm.valid">
                    </div>
                </form>
                <div class="checkbox mb-3">
                    <span (click)="goToComponent('registro-usuario')"><a>Registrar
                            usuario</a></span>
                </div>
                <p class="mt-5 mb-3 text-muted">© Universidad Central - 2020</p>
            </div>
        </div>
    </div>
</div>