footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .content-footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height: 60px;
    width:100%;
    justify-content: center;
  }