<button class="btn btn-dark" (click)="goToBackComponent()" style="position: absolute;z-index: 5;">Volver</button>

<div class="container">
    <div class="row" style="max-height: 600px !important; overflow: auto; margin-top: 2%;">
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th>Id miembro</th>
            <th>Ciudad</th>
            <th>Departamento</th>
            <th>Pais</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody *ngIf="dataTable?.length != 0">
          <tr *ngFor="let data of dataTable; index as i">
            <td>{{ data.idMiembro }}</td>
            <td>{{ data.ciudad.ciudad }}</td>
            <td>{{ data.departamento.departamento }}</td>
            <td>{{ data.pais.pais }}</td>
            <td>{{ data.fecha }}</td>
          </tr>
        </tbody>
        <tbody *ngIf="dataTable?.length == 0">
          <tr>
            <td colspan="3" class="no-data-available">No data!</td>
          </tr>
        <tbody>
      </table>
    </div>
  </div>