<button class="btn btn-dark" (click)="goToBackComponent()" style="position: absolute;z-index: 5;">Volver</button>

<div class="container">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <form
        class="form-signin"
        [formGroup]="dataForm"
        (ngSubmit)="submitDataForm(dataForm.value)"
      >
        <br />
        <div class="row">
          <div class="col-lg-12">
            <h3>Agregar historial conferencia</h3>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="idMiembro">Miembro del grupo</label>
              <select class="form-control" formControlName="idMiembro">
                <option selected disabled>Seleccione un investigador...</option>
                <option
                  [value]="investigador.id"
                  *ngFor="let investigador of investigadores"
                >
                  {{ investigador.nombre }} {{ investigador.primerapellido }} -
                  {{ investigador.correoelectronico }}</option
                >
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group text-left">
                <label for="idCiudad">Ciudad</label>
                <select
                  id="inputState"
                  class="form-control"
                  formControlName="idCiudad"
                >
                  <option selected disabled>Seleccione una ciudad</option>
                  <option [value]="ciudad.idCiudad" *ngFor="let ciudad of ciudades">
                    {{ ciudad.ciudad }}, {{ ciudad.departamento }}</option>
                </select>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="fecha">Fecha</label>
              <input
                type="text"
                placeholder="MM/DD/YYYY"
                class="form-control"
                formControlName="fecha"
                [bsConfig]="{ containerClass: 'theme-dark-blue', locale: 'es' }"
                bsDatepicker
              />
            </div>
          </div>
          <div class="col-lg-6">

          </div>
        </div>
  
  
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <input
                type="submit"
                value="Enviar"
                class="btn btn-primary"
                [disabled]="!dataForm.valid"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-1"></div>
</div>