<button class="btn btn-dark" (click)="goToBackComponent()" style="position: absolute;z-index: 5;">Volver</button>

<div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <form
          class="form-signin"
          [formGroup]="semilleroForm"
          (ngSubmit)="submitSemilleroForm(semilleroForm.value)"
        >
          <br />
          <div class="row">
            <div class="col-lg-12">
              <h3>Crear semillero</h3>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group text-left">
                <label for="correoElectronico">Investigador lider</label>
                <select class="form-control" formControlName="idInvestigador">
                  <option selected disabled>Seleccione un investigador...</option>
                  <option
                    [value]="investigador.id"
                    *ngFor="let investigador of investigadores"
                  >
                    {{ investigador.nombre }} {{ investigador.primerapellido }} -
                    {{ investigador.correoelectronico }}</option
                  >
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group text-left">
                <label for="paginaWeb">Página web</label>
                <input
                  type="text"
                  placeholder=""
                  class="form-control"
                  formControlName="paginaWeb"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <input
                  type="submit"
                  value="Enviar"
                  class="btn btn-primary"
                  [disabled]="!semilleroForm.valid"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
  