<button class="btn btn-dark" (click)="goToBackComponent()" style="position: absolute;z-index: 5;">Volver</button>

<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <form
        class="form-signin"
        [formGroup]="grupoForm"
        (ngSubmit)="submitGrupoForm(grupoForm.value)"
      >
        <br />
        <div class="row">
          <div class="col-lg-12">
            <h3>Crear grupo de investigación</h3>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="correoElectronico">Investigador lider</label>
              <select class="form-control" formControlName="idInvestigador">
                <option selected disabled>Seleccione un investigador...</option>
                <option [value]="investigador.id" *ngFor="let investigador of investigadores">
                  {{ investigador.nombre }} {{investigador.primerapellido}} - {{ investigador.correoelectronico }}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="correoElectronico">Ciudad</label>
              <select
                id="inputState"
                class="form-control"
                formControlName="idCiudad"
              >
                <option selected disabled>Seleccione una ciudad</option>
                <option [value]="ciudad.idCiudad" *ngFor="let ciudad of ciudades">
                  {{ ciudad.ciudad }}, {{ ciudad.departamento }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="paginaWeb">Página web</label>
              <input
                type="text"
                placeholder=""
                class="form-control"
                formControlName="paginaWeb"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="email">Correo Electrónico</label>
              <input
                type="text"
                placeholder="a@a.com"
                class="form-control"
                formControlName="email"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="idAreaConocimiento">Area de conocimiento</label>
              <select
                id="inputState"
                class="form-control"
                formControlName="idAreaConocimiento"
              >
                <option selected disabled>Seleccione una area de conocimiento</option>
                <option [value]="area.idAreaConocimiento" *ngFor="let area of areaConocimiento">
                  {{ area.nombre }}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="instituciones">Institución</label>
              <ng-select  
              formControlName="instituciones"
              #MyNgSelect            
              bindLabel="name"
              placeholder=""
              appendTo="body"
              multiple="true"
              [searchable]="true" 
              [clearable]="true"
              [closeOnSelect]="false"
              >
              <ng-option [value]="institucion.idInstitucion" *ngFor="let institucion of instituciones">
                {{ institucion.nombre }}
              </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group text-left">
              <label for="idInstituciones">Asignar investigadores</label>
              <ng-select  
              formControlName="asignarInvestigadores"
              #MyNgSelect            
              bindLabel="name"
              placeholder=""
              appendTo="body"
              multiple="true"
              [searchable]="true" 
              [clearable]="true"
              [closeOnSelect]="false"
              >
              <ng-option [value]="investigador.id" *ngFor="let investigador of investigadores">
                {{ investigador.nombre }} {{ investigador.primerapellido }}
              </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-lg-6">

          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <input
                type="submit"
                value="Enviar"
                class="btn btn-primary"
                [disabled]="!grupoForm.valid"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
