  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: 600;
    z-index: 1;
    background-color: #d6d6d6;
  }

  .toolbar img {
    margin: 0 16px;
  }


  .spacer {
    flex: 1;
  }

  .dropdown {
    margin-right: 1%;
  }

