<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="assets/imagenes/logo.png" />
  <span>ONG - Grupos de investigación</span>

  <div class="spacer"></div>

  <div class="btn-group dropdown" dropdown>
    <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
      aria-controls="dropdown-animated" style="margin-top: 5px;">
      <i class="fa fa-user-cog fa-lg"></i>
      <span class="caret"></span>
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
      aria-labelledby="button-animated">
      <li role="menuitem"><a class="dropdown-item" (click)="cargarDataPerfil()">Perfil</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#" (click)="cerrarSesion()">Cerrar sesión</a></li>
    </ul>
  </div>

</div>