.menu {
    position: fixed;
    background: #082B59;
    width: 63px;
    display: inline-flex;
    height: 100vh;
    margin-top: -12px;
    margin-left: -8px;
    z-index: 10;
}

.menu ul {
    list-style:none;
    padding-left: 16px;
    font-size: 28px;
    color: white;
    padding-top: 14px;
}

.menu  ul li {
    cursor: pointer;
    padding-top: 10%;
}
