<div class="menu">
    <ul>
        <li *ngFor="let menu of menuArray;" (click)="goToComponent(menu.goToComponent)" placement="right" tooltip="{{menu.tooltipText}}">
            <i class="fa {{menu.icono}}"></i>
        </li>
    </ul>
</div>