/* You can add global styles to this file, and also import other style files */
body {
    overflow: hidden;
}

.btn-primary {
    background: #082B59;
    border-color: #082B59;
}

.btn-primary:hover {
    background: rgb(13, 72, 149);
}

.btn-primary:disabled {
    background:  rgb(19, 98, 202);
    border-color: #082B59;
}


.card {
    cursor: pointer;
    background: #2D4B73 !important;
}

.card-body:hover {
    background: #0A3873;
}



/* Color Global #082B59 */

/* Color Theme Swatches in Hex */
.HIRE-1-hex { color: #252526; }
.GameOut-iOS-App-Concept-1-hex { color: #3730F2; }
.GameOut-iOS-App-Concept-2-hex { color: #403E8C; }
.GameOut-iOS-App-Concept-3-hex { color: #082B59; }
.GameOut-iOS-App-Concept-4-hex { color: #043A40; }
.GameOut-iOS-App-Concept-5-hex { color: #038C73; }
