<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let card of cardArray">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;" (click)="goToComponent(card.componente)">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <h4>{{card.texto}}</h4>
                        </div>
                        <div class="col-md-3">
                            <i class="icono fa fa-{{card.icono}}"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>